/*#text {
  text-align:center;
  width:50%;
  margin:auto;
}

#comic {
  text-align:center;
}

*/

body {
  background-color:#f3f3f3;
  font-family:georgia;
  text-align:center;
}

#header {
  margin:1em 0;
}

#sidebar {
  position:absolute;
  bottom:0px;
  right:0px;
  margin:1em;
  font-size:75%;
  color:gray;
}

#sidebar a {
  text-decoration:none;
  color:#444;
}

#sidebar ul {
  list-style:none;
  text-align:right;
}

h1,h3 {
  font-weight:normal;
  margin:0;
}

h3 {
  font-size:smaller;
}

#thumbs_up {
  background-image:thumb.gif;
}

/*
#comic img {
  border:1px solid #ccc;
}*/
