body {
  background-color:#f3f3f3;
  font-family:georgia;
  text-align:center;
}

h4 a {
  color: black;
}

#content {
  padding: 4em 0;
  max-width: 50em;
  margin: 0 auto;
}

#sidebar {
  position:absolute;
  bottom:0px;
  right:0px;
  margin:1em;
  font-size:75%;
  color:gray;
}

#sidebar a {
  text-decoration:none;
  color:#444;
}

#sidebar ul {
  list-style:none;
  text-align:right;
}

h1,h3 {
  font-weight:normal;
  margin:0;
}
